

body {
    background-color: #f8e9d6;
    font-family: 'Cormorant Garamond', serif;
    color: #6d4c41;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
#google-oauth {
    position: absolute;
    top: 5%;
    right: 5%;
}